{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('recipe') }}
{% endblock %}

{% block main %}

    <div class="top-line">
        <h1>Add Recipe</h1>
    </div>

    {{ form_start(form) }}
       
        {{ include('recipe/_form.html.twig') }}

        <div class="form-row submit">
            <span>
                <a href="/" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </span>
            
        </div>
    {{ form_end(form) }}

{% endblock %}
